.container {
  padding: 0 10px;
}

.result {
  max-width: 400px;
}

.card {
  max-width: 700px;
}

.pokemonName {
  font-size: 20px;
}

.hiddenTitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}

.ability {
  color: rgba(0, 0, 0, 0.88);
}

.abilityTitle {
  font-size: 16px;
  font-weight: 600;
}